### Build
/build/

### Heavy CEF libs
/CEF3App/CEF/arm/Linux/include/*
/CEF3App/CEF/arm/Linux/libcef_dll/*
/CEF3App/CEF/arm/Linux/Release/*
/CEF3App/CEF/arm/Linux/Resources/*

/CEF3App/CEF/arm/Win/include/*
/CEF3App/CEF/arm/Win/libcef_dll/*
/CEF3App/CEF/arm/Win/Release/*
/CEF3App/CEF/arm/Win/Resources/*

/CEF3App/CEF/arm/Mac/include/*
/CEF3App/CEF/arm/Mac/libcef_dll/*
/CEF3App/CEF/arm/Mac/Release/*
/CEF3App/CEF/arm/Mac/Resources/*

/CEF3App/CEF/x86/Linux/include/*
/CEF3App/CEF/x86/Linux/libcef_dll/*
/CEF3App/CEF/x86/Linux/Release/*
/CEF3App/CEF/x86/Linux/Resources/*

/CEF3App/CEF/x86/Win/include/*
/CEF3App/CEF/x86/Win/libcef_dll/*
/CEF3App/CEF/x86/Win/Release/*
/CEF3App/CEF/x86/Win/Resources/*

/CEF3App/CEF/x86/Mac/include/*
/CEF3App/CEF/x86/Mac/libcef_dll/*
/CEF3App/CEF/x86/Mac/Release/*
/CEF3App/CEF/x86/Mac/Resources/*
!.gitkeep

### Log
/log/
*.log


### IDE junk

### Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

### Visual Studio
.vs/
.vscode/
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.psess
*.vsp
[Bb]in
[Oo]bj
sql
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl

### Windows
Thumbs.db
Desktop.ini

### Python
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
.DS_Store
*.o
*.out
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*

### Qt
*.pro.user
*build-desktop-Qt*
*~
*.autosave
*.xcuserstate
.clangd